
@import "../common-styles.scss";

.home{
text-align: center;
font-family: $font_anton;
    .home_body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .body_buy_rent{
          width: 60%;
          min-height: ( $size * 10 );
            a{
            display: inline-block;
            text-decoration: none;
            margin: ( $size * 2.2 );
            color: $brown_color ; 
            border: 1px solid $brown_color;
            font-size: ( $size * 1.7 );
            border-radius: ( $size * 5 );
            padding: ( $size * 1 ) ( $size * 3 );
            font-family: $font_domine, serif; 
            box-shadow: 1px 1px 2px $yellow_color, 0 0 1em $yellow_color;  
            &:hover{
                color:white;
                background: $brown_color;
                box-shadow: 1px 1px 2px $violet_color, 0 0 1em $violet_color;
            }             
          }
        }
        .body_benefits{
            width: 100%;
            min-height: 200px;
            margin: ( $size * 2 ) ;
            display: flex;
            flex-direction: row;          
            flex-wrap: wrap;
            justify-content: space-between;        
                .body_benefits_img{
                    width: ( $size * 56 );
                    margin:  auto;
                    overflow: hidden;     
                }
                .body_benefits_text{
                    width: ( $size * 56 );
                    margin: $size auto;
                    text-align: center;
                    font-family: $font_domine, serif; 
                    font-size: ( $size * 1.7 );
                    text-shadow: 1px 1px 2px $silver_color, 0 0 1em $silver_color;
                    color:$brown_color;
                      h2{
                          font-family: $font_anton ; 
                        }
                      p{
                          margin-top: ( $size * 8 );
                      }
                }
        }
        .body_deal{
            width: 100%;
            min-height: ( $size * 25 ); 
            display: flex;
            flex-direction: row;          
            flex-wrap: wrap;
            justify-content: space-between;  
                .body_deal_item{
                    width: ( $size * 25 );
                    margin: 10px auto;
                    font-size: ( $size * 2 );
                    color:$brown_color;
                    text-shadow: 1px 1px 2px $silver_color, 0 0 1em $silver_color;
                    padding-top: ( $size * 4);
                    font-family: $font_domine, serif; 
                }
        }
    }
}