$size : 1rem;
$background_home: rgb(83, 63, 63);
$buttons_color:rgb(83, 63, 63);

.home{
text-align: center;
font-family: Anton ;
    .home_body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .body_buy_rent{
          width: 60%;
          min-height: ( $size * 10 );
            a{
            display: inline-block;
            text-decoration: none;
            margin: ( $size * 2.2 );
            color: $buttons_color ; 
            border: 1px solid $background_home;
            font-size: ( $size * 1.7 );
            border-radius: ( $size * 5 );
            padding: ( $size * 1 ) ( $size * 3 );
            font-family: 'Domine', serif; 
            box-shadow: 1px 1px 2px yellow, 0 0 1em yellow;  
            &:hover{
                color:white;
                background: $background_home;
                box-shadow: 1px 1px 2px blueviolet, 0 0 1em blueviolet;
            }             
          }
        }
        .body_benefits{
            width: 100%;
            min-height: 200px;
            margin: ( $size * 2 ) ;
            display: flex;
            flex-direction: row;          
            flex-wrap: wrap;
            justify-content: space-between;        
                .body_benefits_img{
                    width: ( $size * 56 );
                    margin:  auto;
                    overflow: hidden;     
                }
                .body_benefits_text{
                    width: ( $size * 56 );
                    margin: 10px auto;
                    text-align: center;
                    font-family: 'Domine', serif; 
                    font-size: ( $size * 1.7 );
                    text-shadow: 1px 1px 2px silver, 0 0 1em silver;
                    color:$background_home;
                      h2{
                          font-family: Anton ; 
                        }
                      p{
                          margin-top: ( $size * 8 );
                      }
                }
        }
        .body_deal{
            width: 100%;
            min-height: ( $size * 25 ); 
            display: flex;
            flex-direction: row;          
            flex-wrap: wrap;
            justify-content: space-between;  
                .body_deal_item{
                    width: ( $size * 25 );
                    margin: 10px auto;
                    font-size: ( $size * 2 );
                    color:rgb(83, 63, 63);
                    text-shadow: 1px 1px 2px silver, 0 0 1em silver;
                    padding-top: ( $size * 4);
                    font-family: 'Domine', serif; 
                }
        }
    }
}