$size : 1rem; //10px
$header_text_color  :rgb(83, 63, 63) ;

header{
    width: 100%;
    padding-top: ($size * 2);
    .navbar{
        background: white;
        border:none;
        .navbar_toggle{
            background:$header_text_color;
        }
        .navbar_header{
            .navbar_header_brand{
             font-size: ($size * 4.5); //35px
             font-family: Anton;
             color: $header_text_color;
                &:hover{
                    cursor: pointer;                    
                    background-color: #666666;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
                }
            }
        }
        .nav_menu{
            .nav_menu_item{
                a{
                    color:$header_text_color;
                    font-size: ($size * 2);
                    font-family: 'Lalezar', cursive;
                    &:hover{
                        cursor: pointer;                    
                        background-color: #666666;
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        color: transparent;
                        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
                    }
                }        
            }    
        }
    }
}