$size : 1rem;
$brown_color : rgb(83, 63, 63);
$yellow_color : rgb(245, 245, 12);
$violet_color : rgb(138, 27, 241);
$black_color: rgba(0,0,0,0.5);
$silver_color : rgb(160, 158, 158);
$white_color : rgb(253, 250, 250);

$font_domine: 'Domine';
$font_anton : Anton;


