@import "../common-styles.scss";

.property{
width: 90%;
margin: 2px auto;
min-height: ($size * 40); 
margin-top: ($size * 8);
.property_search_block{
    width: 100%;
    min-height: ($size * 10);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-bottom: ($size * 4);
    .property_search_block_title{
        width: 100%;
        text-align: center;
        color: $brown_color;
        font-family: $font_domine, serif; 
    }
    .search_select_item{
        width: ($size * 20);
        margin: ($size * 2) auto;
        .search_select{
            width: 100%;
            color: $brown_color;
            cursor: pointer;
            border:none;
            border-bottom: 2px solid $yellow_color;
            outline: none;
            font-size: ($size * 2);
            font-family: $font_domine, serif; 
        }
        .search_byName{ 
            width: 100%;
            cursor: pointer;
            border:none;
            border-bottom: 2px solid $yellow_color;
            outline: none;
            font-size: ($size * 2);
            font-family: $font_domine, serif; 
        }
    }
    
} 
.property_list{
display: flex;
flex-direction: column;
justify-content: center;
.property_item{
    width: 90%;
    min-height: ($size * 10);
    background: $white_color;
    border:1px solid $silver_color;
    margin: 5px auto;
    box-shadow: 0 0 10px $black_color;
    
    .property_item_address{
        text-align: center;
        font-family: $font_domine, serif; 
        margin: $size  auto;
    }
    .hide_show_block{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .hide_show_gallery{
            max-height: ($size * 70);
            max-width: ($size * 50);
            .image-gallery-image img {
                height: ($size * 40);
                height: ($size * 30);
            }
        }
        .hide_show_description{
            text-align: center;
            .description_list{
                list-style-type: none;
                .description_list_elem{
                    color:$brown_color;
                    text-shadow: 1px 1px 2px $silver_color, 0 0 1em $silver_color;
                    text-decoration: none;
                    font-family: $font_domine, serif; 
                }   
            }
        }
    }
    .prop_main_img{
        width: ($size * 10);
        height: ($size * 10);
    }
    .show_btn{
    outline: none;
    margin: ( $size * 2.2 );
    color: $brown_color; 
    background: $white_color;
    border: 1px solid $brown_color;
    font-size: ( $size * 1.7 );
    border-radius: ( $size * 5 );
    padding: ( $size * 0.5 ) ( $size * 3 );
    font-family: $font_domine, serif;  
        &:hover{     
            box-shadow: 1px 1px 1px $violet_color , 0 0 1em $violet_color ;
        }             
    }
}
}

.indicate_blok{
width: 100%;
min-height:($size * 3);
.indicate_items{    
    margin: ($size * 1.2) ;
    cursor: pointer;
    li{
        display: inline;
        font-size: ($size * 2);
        margin: $size ;
        font-family: $font_domine, serif;
            color:$brown_color;
        &:hover{
            color:$black_color;
            text-shadow: 1px 1px 2px $violet_color , 0 0 1em $violet_color ;
            font-weight: bolder;
            
        }
    }
}
p{
    color:$brown_color;
    font-size: ($size * 2);
    font-family: $font_domine, serif;     
}
}
}