@import "../common-styles.scss";

footer{
background: $brown_color ;
width: 100%;
margin-bottom: 0;
color:$white_color;
flex-grow: 0;
.navbar_footer{
    background: none;
    border:none;
    .navbar_footer_menu{
        .navbar_footer_menu_item{
            a{
                font-size: ($size * 2);
                font-family: $font_domine, serif;
                &:hover{
                    cursor: pointer;                    
                    text-shadow: $silver_color 0px 3px 3px;
                }
            }
        }    
    }    
}
.footer_end{
    text-align: center;
    .footer_end_req{
        font-size:($size * 1.8);
        font-family: $font_domine, serif;
    }
}
}