$footer_text_color:rgb(236, 240, 217);
$background_footer: rgb(83, 63, 63);
$size : 1rem;

.broker_kard{
width: ($size * 41);  
min-height: ($size * 15);
margin: $size auto;
display: flex;
flex-direction: column;
background: -webkit-linear-gradient(#648880, $background_footer);
background:    -moz-linear-gradient(#648880, $background_footer); 
border-radius:16px;
border:1px solid yellow;
margin-top: 30px;
    .broker_image{ 
        margin-top: $size;   
            img{
                width: ($size * 9);
                height: ($size * 9);
                margin-left:calc( (100% - 90px) /2 );
            }
    }
    .broker_body{
        text-align: center;
        color:rgb(217, 239, 240);
        font-family: Anton;
        p{
            font-size: ($size * 1.6);
            font-family: 'Domine', serif;
        }
    }   
}