@import "../common-styles.scss";

.broker_kard{
width: ($size * 41);  
min-height: ($size * 15);
margin: $size auto;
display: flex;
flex-direction: column;
background: -webkit-linear-gradient(#687572, $brown_color );
background:    -moz-linear-gradient(#648880, $brown_color ); 
border-radius:16px;
border:1px solid $yellow_color;
margin-top: 30px;
    .broker_image{ 
        margin-top: $size;   
            img{
                width: ($size * 9);
                height: ($size * 9);
                margin-left:calc( (100% - 90px) /2 );
            }
    }
    .broker_body{
        text-align: center;
        color:$silver_color;
        font-family: $font_anton;
        p{
            font-size: ($size * 1.6);
            font-family: $font_domine, serif;
        }
    }   
}